{
  "openapi": "3.1.0",
  "info": {
    "title": "Google Calendar API (Simplified)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/calendar/v3"
    }
  ],
  "paths": {
    "/calendars/primary/events": {
      "get": {
        "summary": "List events from the user's primary calendar",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "name": "timeMin",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of events"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "summary": "Create a new event in the user's primary calendar",
        "operationId": "createEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "string"
                  },
                  "start": {
                    "type": "object",
                    "properties": {
                      "dateTime": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "dateTime"
                    ]
                  },
                  "end": {
                    "type": "object",
                    "properties": {
                      "dateTime": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "dateTime"
                    ]
                  }
                },
                "required": [
                  "summary",
                  "start",
                  "end"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/calendar": "Read and write access to the calendar"
            }
          }
        }
      }
    },
    "schemas": {}
  }
}